<nav>
    <ul>
        <li class="logo"><a href="/">DIABETES@HOME</a></li>
        <li class="items"><a href="/aboutWebsite">Home page</a></li>
        <li class="items"><a href="/aboutDiabetes">About Diabetes</a></li>
        <li class="items"><a href="/user/logout">Logout</a></li>
        <li class="btn" onclick="show()"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</nav>

<script>
    function show(){
        var x = document.getElementsByClassName("items")[0];
        var nav = document.getElementsByClassName("items");
        if (x.style.display === "none") {
            for (let i = 0; i < nav.length; i++) {
                nav[i].classList.toggle('hide');
            }
        } else {
            for (let i = 0; i < nav.length; i++) {
                nav[i].classList.toggle('show');
            }
        }
    }
</script>