<nav class = "menu-bar">
    <ul class = "menu-ul">
        <li class="logo menu-li"><a href="/">DIABETES@HOME</a></li>

        {{#if user}}
        <!-- SHOW LOGOUT -->
            <li class="items menu-li"><a href="/aboutWebsite">Home page</a></li>
            <li class="items menu-li"><a href="/aboutDiabetes">About Diabetes</a></li>
            <li class="items menu-li"><a href="/user/logout">Logout</a></li>
            
            <li class="btn" onclick="show()"><a href="#"><i class="fas fa-bars"></i></a></li>
        {{else}}
        <!-- SHOW LOGIN -->
            <li class="items menu-li"><a href="/aboutWebsite">Home page</a></li>
            <li class="items menu-li"><a href="/aboutDiabetes">About Diabetes</a></li>
            <li class="items menu-li"><a href="/user/login">Login</a></li>

            <li class="btn menu-li" onclick="show()"><a href="#"><i class="fas fa-bars"></i></a></li>
        {{/if}}
    </ul>
</nav>

<script>
    function show(){
        var x = document.getElementsByClassName("items")[0];
        var nav = document.getElementsByClassName("items");
        if (x.style.display === "none") {
            for (let i = 0; i < nav.length; i++) {
                nav[i].classList.toggle('hide');
            }
        } else {
            for (let i = 0; i < nav.length; i++) {
                nav[i].classList.toggle('show');
            }
        }
    }
</script>