{{> menuNav}}

<main class="container">
    <section class="container">
        <h2>
            About Diabetes
        </h2>
        <p>Diabetes is the epidemic of the 21st century and the biggest challenge confronting Australia’s health
            system. Around 1.8 million Australians have diabetes. This includes all types of diagnosed diabetes (1.2
            million known and registered) as well as silent, undiagnosed type 2 diabetes (up to 500,000 estimated).
        </p>
        <iframe src="https://player.vimeo.com/video/540575727?h=606c0a8ea5" width="100%" height="200vh"
            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <h2>
            Quick Diabetes Facts
        </h2>
        <ul>
            <li>280 Australians develop diabetes every day</li>
            <li>It is the fastest growing chronic condition in Australia</li>
            <li>More than 120,000 Australians have developed diabetes in the past year</li>
            <li>In 2013, diabetes caused 5.1 million deaths globally.</li>
        </ul>
    </section>
    <section class="container">
        <h2>
            Symptoms of Diabetes
        </h2>
        <ul>
            <li>Urinate (pee) a lot, often at night.</li>
            <li>Are very thirsty.</li>
            <li>Lose weight without trying.</li>
            <li>Are very hungry.</li>
            <li>Have blurry vision. </li>
            <li>Have numb or tingling hands or feet.</li>
            <li>Feel very tired.</li>
            <li>Have very dry skin.</li>
        </ul>
        <h2>
            Talk to a specialist
        </h2>
        <p>
            Have you been tested for diabetes? Make an appointment with one of our partner GPs to test for diabetes.
            If your test results show signs of diabetes we will connect you with a specialist and invite you to join
            our Diabetes@Home platform.
        </p>
        <button class="item"><a href="mailto:mail@example.com">Get in touch</a></button>
    </section>

</main>
