<section>
    <h1> Account Settings for {{user.username}}</h1>
</section>

<ul>
    <li>
        {{user.email}}<a href="">Update email</a>
    </li>


    <li>
        {{user.username}}<a href="">Update username</a>
    </li>
</ul>
