<nav>
    <ol>
        <li><a href=#>Home</a></li>
        <li><a href="/aboutDiabetes">About Diabetes</a></li>
        <li><a href="/aboutWebsite">About this website</a></li>
        {{!-- <li><a href="/dashboard">My Dashboard</a></li> --}}
        <li><a href="/patientDashboard">View Patient Homepage</a></li>
        <li><a href="/clinicianDashboard">View Clinician Homepage</a></li>
    </ol>
</nav>
<h1>Diabetes@Home</h1>