<nav>
    <ol>
        <li><a href=#>Home</a></li>
        <li><a href="/aboutDiabetes">About Diabetes</a></li>
        <li><a href="/aboutWebsite">About this website</a></li>
    </ol>
</nav>
<h1>Diabetes@Home</h1>
