<h2>Login:</h2>

<form action="/user/login" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <input type="submit" value="Login" />
</form>

<h2>Reset Password:</h2>
<form action="/user/forgot-password" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" />
    <input type="submit" value="Reset" />
</form>

{{#each flash}}
<p>{{this}}</p>
{{/each}}