{{!-- <script type="text/javascript">
  const async handleLoginSubmit = () => {
    console.log("hi")

  }

</script> --}}

<h1>Login</h1>

{{!-- <form id="myForm" onsubmit="handleLoginSubmit(); return false;">
  <input id="textInput" type="text"></input>
  <input type="submit"></input>
</form> --}}

<form method="post" action="/user/login">
  <label for="email">Email:</label>
  <input type="text" name="username" />
  <label for="password">Password:</label>
  <input type="password" name="password" />
  <input type="submit" value="Submit" />
</form>