<section>
    <form class="form" id="update-password" action="/update-password" method="PUT">
    <h1 class="form__title">Reset password</h1><br>

    <div class="form__input-group">
        <input type="password" class="form__input" autofocus placeholder="Password" name="password">
    </div>
    <br>
    <button class="form__button" type="submit" value="Reset"></button>
</form>
</section>