/* Nav menu */
:root {  
    /* Colour Palette */
    --black: #2A2A2A; /* Font */
    --pink: #E7C3DD; /* Standard buttons */
    --blue: #5782BB; /* Brand Logo colour */
    --dark-grey: #C7C7C7; /* Shadow */
    --light-grey: #F4F4F4; /* Background colour */
    --red: #D95353; /* Data has been input and is out of range */
    --orange: #F0D6BD; /* Data awaiting input */
    --green: #CAE7C3; /* Data has been input and is in range */
    --white: #FFFFFF; /* White box with content in it */
    
    /* Fonts */
    --title: 6rem 'Roboto', sans-serif;
    --lead: 3rem 'Space Mono', monospace;
    --subtitle: 1.5rem 'Space Mono', monospace;
    --body: 1rem 'Roboto', sans-serif;
    --link: 1rem 'Space Mono', monospace;
    --button: 0.875rem 'Space Mono', monospace;

    /* Spacing */
    --standard: 1rem;
}


body{
    margin: 0;
} 

.menu-bar{
    background: var(--pink);

    backdrop-filter: blur(1.5rem);

    padding: 5px 40px;
    position: relative;
    z-index: 1;

    font-family: 'Space Mono', monospace;
}

.menu-bar .menu-ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.menu-bar .menu-ul .menu-li{
    cursor: pointer;
}

.menu-bar .menu-ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
}

.menu-bar .menu-ul li.items:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: var(--white);
    opacity: 0;
    transition: all 0.2s linear;
}

.menu-bar .menu-ul li.logo{
    flex: 1;
    color: var(--black);
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
}

.menu-bar .menu-ul .menu-li a{
    color: var(--black);
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
}

.menu-bar .menu-ul .menu-li i{
    font-size: 23px;
}

.menu-bar .menu-ul li.btn{
    display: none;
}

.menu-bar .menu-ul li.btn.hide i:before{
    content: '\f00d';
}
    
/* CSS Mobile menu nav */
@media all and (max-width: 900px){
    .menu-bar{
        padding: 10px 30px;
    }
    .menu-bar .menu-ul li.items{
        margin: 15px 0px 15px 10px;
        width: 100%;
        display: none;
    }
    .menu-bar .menu-ul li.items.show{
        display: block;
    }
    .menu-bar .menu-ul li.btn{
        display: block;
    }
}