:root {  
    /* Colour Palette */
    --black: #2A2A2A; /* Font */
    --pink: #E7C3DD; /* Standard buttons */
    --blue: #5782BB; /* Brand Logo colour */
    --dark-grey: #C7C7C7; /* Shadow */
    --light-grey: #F4F4F4; /* Background colour */
    --red: #D95353; /* Data has been input and is out of range */
    --orange: #F0D6BD; /* Data awaiting input */
    --green: #CAE7C3; /* Data has been input and is in range */
    --white: #FFFFFF; /* White box with content in it */
    
    /* Fonts */
    --title: 6rem 'Roboto', sans-serif;
    --lead: 3rem 'Space Mono', monospace;
    --subtitle: 1.5rem 'Space Mono', monospace;
    --body: 1rem 'Roboto', sans-serif;
    --link: 1rem 'Space Mono', monospace;
    --button: 0.875rem 'Space Mono', monospace;
}

body { background: var(--white) }
            
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.column-1{
    /* background: rgb(209, 166, 166); */
    width: 90%;
    /* top right bottom left */
    margin: 0% 5% 0% 5%; 
}

.column-2{
    /* background: rgb(209, 166, 166); */
    width: 90%;
    /* top right bottom left */
    margin: 0% 5% 0% 5%; 
}


.widget{
    background: var(--light-grey);
    

    /* background-color: #658ec6; */
    border-radius: 1rem;
    padding: 2rem;
    /* top right bottom left */
    margin: 2% 0% 0% 0%;
}

.rank-widget{
    display: flex;
    justify-content: space-between;

    background: var(--light-grey);

    /* background-color: #658ec6; */
    border-radius: 5rem;
    padding: 2rem;
    /* top right bottom left */
    margin: 2% 0% 3% 0%;
}

.leaderboard{
}


/* CSS Mobile */
@media (max-width: 660px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }

    .measurement-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    

}

/* collapsible unread widget */
.column-1 input[name = "collapsible"]{
    display: none;
}

.unread-under{
    height: 20px;
    width: 93%;
    background: var(--dark-grey);
    /* top right bottom left */
    margin-left: 3.5%; 
    border-bottom-right-radius: 15px; 
    border-bottom-left-radius: 15px; 
}

.collapsible-message {
    max-height: 4000px;
    overflow: hidden;
    top: 0%;
    width: 93%;
    background: var(--dark-grey);
      
    margin-left: 3.5%; 

}

.cli-message{
    /* top right bottom left */
    margin: 3% 5% 0% 5%; 
}

.column-1 input:checked ~ .collapsible-message{
    height: 0px;
    background: var(--light-grey);
                     
    top: 0;
    transition: all 2s linear;
}

/* measurement widget */
.measurement-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
}

.measurement-widget-container{
    width: 100%;
    margin-bottom: 5%;
}

.measurement-widget{
    display: flex;

    background: var(--pink);


    /* background-color: #658ec6; */
    border-radius: 1rem;
    /* top right bottom left */
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.meansurement-icon{
    background: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* top right bottom left */
    margin: 5% 0% 5% 5%;
}

.measurement-data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.measurement-text{
    align-self: c;
    float: left;
    width: 20%;
}

.measurement-data-container{
}


/* collapsible measurement widget */
.measurement-under{
    height: 20px;
    width: 90%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );                
    /* top right bottom left */
    margin-left: 5%; 
    border-bottom-right-radius: 15px; 
    border-bottom-left-radius: 15px; 
}

.collapsible-note-0, 
.collapsible-note-1, 
.collapsible-note-2,
.collapsible-note-3 {
    max-height: 0px;
    overflow: hidden;
    top: 0%;
    width: 90%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );  
    /* top right bottom left */
    margin-left: 5%; 
    padding: 0% 5% 0% 5%;
}

.column-1 input:checked ~ .collapsible-note-0,
.column-1 input:checked ~ .collapsible-note-1,
.column-1 input:checked ~ .collapsible-note-2,
.column-1 input:checked ~ .collapsible-note-3 {
    max-height: 4000px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );                  
    top: 0;
    transition: all 2s linear;
}






/* background */
.container {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

h2 {
    color: #658ec6;
    margin-left: 5%;
}

h3 {
    color: #658ec6;
}

p{
    color: #658ec6;
    font-weight: 500;
}

.glass {
    background: var(--white);
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    backdrop-filter: blur(1.5rem);
    /* top right bottom left */
    padding: 3% 5% 5% 5%;
    margin: 5% 0% 0% 0%;

    position: relative;
    z-index: 1;
}



/* Nav menu */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
nav{
    background: var(--pink);
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );       
    backdrop-filter: blur(1.5rem);

    padding: 5px 40px;
    position: relative;
    z-index: 1;
}
nav ul{
list-style: none;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
nav ul li{
padding: 15px 0;
cursor: pointer;
}
nav ul li.items{
position: relative;
width: auto;
margin: 0 16px;
text-align: center;
order: 3;
}
nav ul li.items:after{
position: absolute;
content: '';
left: 0;
bottom: 5px;
height: 2px;
width: 100%;
background: #658ec6;
opacity: 0;
transition: all 0.2s linear;
}
nav ul li.items:hover:after{
opacity: 1;
bottom: 8px;
}
nav ul li.logo{
flex: 1;
color: #658ec6;
font-size: 23px;
font-weight: 600;
cursor: default;
user-select: none;
}
nav ul li a{
color: #658ec6;
font-size: 18px;
text-decoration: none;
transition: .4s;
}

nav ul li i{
font-size: 23px;
}
nav ul li.btn{
display: none;
}
nav ul li.btn.hide i:before{
content: '\f00d';
}

/* CSS Mobile menu nav */
@media all and (max-width: 900px){
    nav{
        padding: 5px 30px;
    }
    nav ul li.items{
        width: 100%;
        display: none;
    }
    nav ul li.items.show{
        display: block;
    }
    nav ul li.btn{
        display: block;
    }
    nav ul li.items:hover{
        border-radius: 5px;
        box-shadow: inset 0 0 5px #658ec6,
                    inset 0 0 10px #658ec6;
    }
    nav ul li.items:hover:after{
        opacity: 0;
    }
}

/* measurement form */
.measurement-form {
    position: relative;
    display: grid;
    width: 9rem;
    min-height: 3rem;
    padding: 1rem 0% 1rem 0%;
}

.form__input {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border: 2px solid var(--black);
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: var(--black);
    outline: none;
    padding: 1.25rem;
    background: none;
}


.comment-input {
    position: relative;
    top: 0;
    left: 0;
    max-width: 80%;
    min-height: 20%;
    border: 2px solid var(--black);
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: var(--black);
    outline: none;
    padding: 1.25rem;
    background: none;
}

*:hover {
border-color: #adffff;
} 


*:focus {
border-color: #658dc666;

}

.form__label {
    position: absolute;
    left: 1rem;
    top: 0.9rem;
    padding: 0 0.5rem;
    color: #658ec6;
    cursor: text;
    transition: all 200ms ease-in;
}

.measure-note-form{
    position: relative;
    width: 100%;
    height: 3rem;

    /* top right bottom left */
    margin: 3% 0% 0% 0%; 
}

/* hide arrows input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}