@import "menuNav.css";

:root {  
  /* Colour Palette */
  --black: #2A2A2A; /* Font */
  --pink: #E7C3DD; /* Standard buttons */
  --blue: #5782BB; /* Brand Logo colour */
  --dark-grey: #C7C7C7; /* Shadow */
  --light-grey: #F4F4F4; /* Background colour */
  --red: #D95353; /* Data has been input and is out of range */
  --orange: #F0D6BD; /* Data awaiting input */
  --green: #CAE7C3; /* Data has been input and is in range */
  --white: #FFFFFF; /* White box with content in it */
  
  /* Fonts */
  --title: 6rem 'Roboto', sans-serif;
  --lead: 3rem 'Space Mono', monospace;
  --subtitle: 1.5rem 'Space Mono', monospace;
  --body: 1rem 'Roboto', sans-serif;
  --link: 1rem 'Space Mono', monospace;
  --button: 0.875rem 'Space Mono', monospace;
}

a {
  font: var(--link);
  color: var(--black);
  text-decoration: none;
}

/* Tooltip container */
td.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
